* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

:root {
	--color-secondary-gray: #5b5b5b;
	--gap-primary: 1.5em;
}

/* ? ID selector (using the #) */
/* #main-header {
	display: flex;
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 20px 10px;

    h1 {
        text-align: center;
    }
} */
 
body {
	font-family: Arial, Helvetica, sans-serif;
}

/* 
	? Flexbox
	* single dimensional
	* allows to style components using parent > child relationship
	* the parent is the component we use flexbox on
	* children of said parent get affected
	* uses properties and values custom to Flexbox module
	* styles based on main and cross axes (they rotate!!!!)
*/

header {
	padding: 2em 3em;

	display: flex;
	/* turns it into a flex container */

	flex-direction: column;
	/* changes the main axis direction (default is row) */

	justify-content: space-between;
	/* positions along the main axis */

	align-items: center;
	/* positions along the cross axis */

	/* 
		! If nothing happens, always check how much spacing you have !
	*/
}

h6 {
	font-size: 16px;
}

.main-container {
	/* display: flex; */
	/* flex-direction: column; */
	/* align-items: center; */
	/* justify-content: center; */
	background: no-repeat url("./assets/photo-1661250136420-56b685db54f1.avif");
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	background-color: black;
	/* padding: 20px; */
	/* position: sticky; */
	/* position: fixed; */
}

.main-header {
	/* order: -9999; */
	/* changes the order of a single child element */
}

main {
	display: flex;

	flex-wrap: wrap;
	/* handles wrap of elements */

	justify-content: center;
	align-items: center;

	/* height: 200vh; */
	/* comment back in to play with align-content */

	/* align-content: flex-start; */
	/* aligns against cross axis when wrapping is involved */

	gap: var(--gap-primary);
}

/* The navigation bar */
.nav-bar{
	display: flex;
	top: 0; /*positions the nav-bar at the top of the page */
	z-index: 1000; /* ensures the nav-bar stays on top of other elements */
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 20px 10px;
	position: sticky;
    h1 {
        text-align: center;
    }
}

/* The links in the navigation bar */
.nav-link {
	
    text-decoration: none;
    display: flex;

	/* flex-wrap: wrap; */
	/* handles wrap of elements */

	justify-content: center;
	align-items: center;

	/* height: 200vh; */
	/* comment back in to play with align-content */

	align-content: flex-start;
	/* aligns against cross axis when wrapping is involved */

	/* gap: var(--gap-primary); */
    /* background-color: brown; */
    margin: 10px 10px;
}

.nav-bar a:hover {
		float: left;
  		display: block;
  		color: black;
  		text-align: center;
  		/* padding: 14px 16px; */
  		text-decoration: none;
  	
	/* gap: var(--gap-primary); */
    background-color: brown;
    /* margin: 10px 10px; */
}

.nav-bar a:active {
		float: left;
  		display: block;
  		color: black;
  		text-align: center;
  		/* padding: 14px 16px; */
  		text-decoration: none;
  		
	/* gap: var(--gap-primary); */
	background-color: red;
	/* margin: 10px 10px; */
}

.hero-section{
	color: white;
	/* background-color: beige; */
	border: 2px rounded black;
	width: 75vw;
	height: 85vh;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 25px;
	display: flex;
	flex-wrap: wrap;
	/* handles wrap of elements */

	justify-content: center;
	align-items: center;

	/* height: 200vh; */
	/* comment back in to play with align-content */

	/* align-content: flex-start; */
	/* aligns against cross axis when wrapping is involved */

	gap: var(--gap-primary);

	position: relative;
}

.about-me-section{
	padding-top: 100px;
	padding-bottom: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* handles wrap of elements */

	justify-content: center;
	/* align-items: center; */
	background-color: beige;
	border: 2px rounded black;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	/* width: 75vw; */
	/* height: 100vh; */
	/* padding: 5px; */
	/* font-family: Arial, Helvetica, sans-serif; */
	/* margin: 25px; */
	/* gap: var(--gap-primary); */
	gap: 25px;
	/* position: relative; */
}

.skills-section{
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* handles wrap of elements */
	/* flex: 1 0 30%; */
	justify-content: center;
	align-items: center;
	background-color: beige;
	border: 2px rounded black;
	width: 100%;
	max-width: 2000px;
	margin: 0 auto;
	/* width: 75vw; */
	/* height: 850vh; */
	/* padding: 5px; */
	/* font-family: Arial, Helvetica, sans-serif; */
	/* margin: 25px; */
	/* gap: var(--gap-primary); */
	gap: 25px;

	/* position: relative; */
}

.skills-card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* overflow-x: auto /* Adds a horizontal scrollbar if boxes overflow the screen */ */
	justify-content: center;
	/* align-items: center; */
	gap: var(--gap-primary);
	width: 100%;
}

.projects-section{
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	/* handles wrap of elements */
	/* align-content: flex-start; */
	/* justify-content: center; */
	align-items: center;
	background-color: beige;
	border: 2px rounded black;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1fr, 3);
	width: 100%;
	max-width: 1200px;
	max-height: 850vh;
	margin: 0 auto;
	width: 75vw;
	/* height: 100vh; */
	
	/* padding: 5px; */
	/* font-family: Arial, Helvetica, sans-serif; */
	/* margin: 25px; */
	/* gap: var(--gap-primary); */
	gap: 25px;
	/* position: relative; */
	/* position: absolute; */
	
}

.projects-card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	overflow-x: auto /* Adds a horizontal scrollbar if boxes overflow the screen */
	align-items: stretch;
	gap: var(--gap-primary);
	width: 100%;
}

textarea {
	width: 100%;
	height: 80%;
}

.contacts-section{
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* handles wrap of elements */
	/* align-content: flex-start; */
	justify-content: center;
	align-items: center;
	color: black;
	background-color: beige;
	border: 2px rounded black;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	width: 75vw;
	/* height: 850vh; */
	/* padding: 5px; */
	/* font-family: Arial, Helvetica, sans-serif; */
	/* margin: 25px; */
	/* gap: var(--gap-primary); */
	gap: 25px;
	/* position: relative; */
	/* position: absolute; */
}

.card {
	display: flex;
	flex-wrap: nowrap;
	flex: 1;
	/* flex-direction: row; !important */
	border: 1px solid var(--color-secondary-gray);
	max-width: 250px;
	height: 350px;
	/* flex: 10px 10px 0px; */
}

.skill-card {
	display: flex;
	flex-wrap: nowrap;
	flex: 1;
	/* flex-direction: row; !important */
	border: 1px solid var(--color-secondary-gray);
	max-width: 250px;
	height: 350px;
	/* flex: 10px 10px 0px; */
}

.project-card {
	display: flex;
	flex-wrap: nowrap;
	flex: 1;
	/* flex-direction: row; !important */
	border: 1px solid var(--color-secondary-gray);
	max-width: 250px;
	height: 350px;
	/* flex: 10px 10px 0px; */
}


face-pic {
	width: 250px;
}	

/* .header-container, .responsive-text {
	flex: 1;
} */

#header-container{
	/* width: 100%; */
	/* height: auto; */
	justify-content: center;
	/* display: block; */
	/* object-fit: cover; */
}

image-container, .responsive-text {
	flex: 1;
} */

.image-container{
	/* width: 100%; */
	/* height: auto; */
	justify-content: center;
	display: block;
	float: none;
	/* object-fit: cover; */
}

/* The max-width above also applies to responsive design (web browser) as well as mobile */

/* Stack evenly on mobile */

input {
	text-align: left;
}

.child {
	padding: 25px;
	border: 3px solid black;
}

.block-container {
	border: 1px solid black;
	margin: 5px 0;

	/* block can be turned into inline */
	/* display: inline; */
}

.inline-element {
	border: 1px solid salmon;

	/* inline can be turned into block */
	display: block;

	/* ? note: act as block but don't occupy full width */
}

.inline-block {
	/* it's a div for now which is a block element */
    border: 1px solid rebeccapurple;

	display: inline-block;

    /*  inline cannot set width, it's set to original content width */
    width: 250px;

    /* inline block allows us to set block element into inline and change it's width */
}

/* 
    ? Float
    * float elements from left to right 
*/

.float-container {
    /* width: 100%; */
    width: 100svw;
    height: 25vw;
    border: 1px solid blue;
}

.float-box {
    width: 50px;
    height: 50px;
    background-color: pink;

    float: right;
}

@media (max-width: 768px) {
	.about-me-section{
		flex-direction: column; /* Stack the elements vertically on smaller screens */
		align-items: center;
	}

	.projects-card-container {
		flex-direction: column;
	}

	.contacts-section {
		flex-direction: column;
	}
}
