* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

/* ? ID selector (using the #) */
/* #main-header {
	display: flex;
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 20px 10px;

    h1 {
        text-align: center;
    }
} */

.main-container {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	background: no-repeat url("/assets/photo-1661250136420-56b685db54f1.avif");
	min-height: 100vh;
	background-color: black;
	padding: 20px;
	position: sticky;
}

/* The navigation bar */
.nav-bar{
	display: flex;
	top: 0; /*positions the nav-bar at the top of the page */
	z-index: 1000; /* ensures the nav-bar stays on top of other elements */
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 20px 10px;
	position: sticky;
    /* h1 {
        text-align: center;
    } */
}

/* The links in the navigation bar */
.nav-link {
	
    text-decoration: none;
    display: flex;

	/* flex-wrap: wrap; */
	/* handles wrap of elements */

	justify-content: center;
	align-items: center;

	/* height: 200vh; */
	/* comment back in to play with align-content */

	align-content: flex-start;
	/* aligns against cross axis when wrapping is involved */

	/* gap: var(--gap-primary); */
    /* background-color: brown; */
    margin: 10px 10px;
}


.nav-bar a:hover {
		float: left;
  		display: block;
  		color: black;
  		text-align: center;
  		/* padding: 14px 16px; */
  		text-decoration: none;
  		
    /* text-decoration: none; */
    /* display: flex; */

	/* flex-wrap: wrap; */
	/* handles wrap of elements */

	/* justify-content: center; */
	/* align-items: center; */

	/* height: 200vh; */
	/* comment back in to play with align-content */

	/* align-content: flex-start; */
	/* aligns against cross axis when wrapping is involved */

	/* gap: var(--gap-primary); */
    background-color: brown;
    /* margin: 10px 10px; */
}

.nav-bar a:active {
		float: left;
  		display: block;
  		color: black;
  		text-align: center;
  		/* padding: 14px 16px; */
  		text-decoration: none;
  		
	/* text-decoration: none; */
	/* display: flex; */

	/* flex-wrap: wrap; */
	/* handles wrap of elements */

	/* justify-content: center; */
	/* align-items: center; */

	/* height: 200vh; */
	/* comment back in to play with align-content */

	/* align-content: flex-start; */
	/* aligns against cross axis when wrapping is involved */

	/* gap: var(--gap-primary); */
	background-color: red;
	/* margin: 10px 10px; */
}

.hero-section{
	color: white;
	/* background-color: beige; */
	border: 2px rounded black;
	width: 75vw;
	height: 85vh;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 25px;

	display: flex;

	flex-wrap: wrap;
	/* handles wrap of elements */

	justify-content: center;
	align-items: center;

	/* height: 200vh; */
	/* comment back in to play with align-content */

	/* align-content: flex-start; */
	/* aligns against cross axis when wrapping is involved */

	gap: var(--gap-primary);

	position: relative;
}

.about-me-section {
	background-color: beige;
	border: 2px rounded black;
	width: 75vw;
	height: 85vh;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 25px;

	display: flex;
	/* flex-direction: row; */
	flex-wrap: wrap;
	/* handles wrap of elements */

	justify-content: center;
	align-items: center;

	gap: var(--gap-primary);

	position: relative;
}

.child {
	padding: 25px;
	border: 3px solid black;
}

/* 
	? Display Property
	* defines whether an element is block, inline, or inline-block
	* blocks are created top to bottom
	* inline are positioned side-by-side

	? Inherent Block Elements
	* nav, div, header, p, etc.

	? Inherent Inline Elements
	* a, button, span, strong, b, em, img
*/

.block-container {
	border: 1px solid black;
	margin: 5px 0;

	/* block can be turned into inline */
	/* display: inline; */
}

.inline-element {
	border: 1px solid salmon;

	/* inline can be turned into block */
	display: block;

	/* ? note: act as block but don't occupy full width */
}

.inline-block {
	/* it's a div for now which is a block element */
    border: 1px solid rebeccapurple;

	display: inline-block;

    /*  inline cannot set width, it's set to original content width */
    width: 250px;

    /* inline block allows us to set block element into inline and change it's width */
}

/* 
    ? Float
    * float elements from left to right 
*/

.float-container {
    /* width: 100%; */
    width: 100svw;
    height: 25vw;
    border: 1px solid blue;
}

.float-box {
    width: 50px;
    height: 50px;
    background-color: pink;

    float: right;
}


header {

	padding: 2em 3em;

	display: flex;
	/* turns it into a flex container */

	flex-direction: column;
	/* changes the main axis direction (default is row) */

	justify-content: space-between;
	/* positions along the main axis */

	align-items: center;
	/* positions along the cross axis */


	/* 
		! If nothing happens, always check how much spacing you have !
	*/
}

main {
	display: flex;

	flex-wrap: wrap;
	/* handles wrap of elements */

	justify-content: center;
	align-items: center;

	/* height: 200vh; */
	/* comment back in to play with align-content */

	/* align-content: flex-start; */
	/* aligns against cross axis when wrapping is involved */

	gap: var(--gap-primary);
}

